

<div class = "container">
      <div class="jumbotron">
        <h1>Music by the community.</h1>
        <p class="lead">Post your favorite music.</p>
        <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-4">
          <h4>Voting</h4>
          <p>Upvote music that you like.</p>
        </div>
        <div class="col-lg-4">
          <h4>URL's</h4>
          <p>A direct link provided with each track.</p>
        </div>
        <div class="col-lg-4">
          <h4>Comments</h4>
          <p>In beta - Comment on music wall post from other users.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016</p>
      </footer>

</div>